//---------------------------------------------------------------------------
//
// Name:        SORApp.rc
// Author:      Lukasz
// Created:     2014-01-28 22:23:42
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
