//---------------------------------------------------------------------------
//
// Name:        SORApp.rc
// Author:      Lukasz
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
